.navbar {
    display: flex;
    justify-content: space-between;
    padding: 30px 101px 18px 117px;
}

.navbar__container{
    display: flex;
}

.navbar__links > a{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase; 
    text-decoration: none;   
}

.navbar__links > a:active,
.navbar__links > a:checked{
    color: #5ECE7B;
    padding-bottom: 30px;
    border-bottom: 1px solid #5ECE7B;
}

.center-link{
    margin-left: 32px;
    margin-right: 32px;
}

.navbar__categories{
    display: flex;
    
}
