.minicart{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.minicart__title{
    margin-bottom: 32px;
    margin-top: 13px;
}

.minicart__myBag{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #1D1F22;
}

.minicart__total{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: #1D1F22;
}

.minicart__items{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
}

.minicart__view-bag{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 145px;
    height: 43px;
    margin-right: 12px;
    border: 1px solid rgba(29, 31, 34, 1);
    color: #000;
    text-transform: uppercase;
    cursor: pointer;  
}

.minicart__add{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 145px;
    height: 43px;
    background-color: #5ece7b;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.minicart__buttons{
    display: flex;
    margin-top: 32px;
}
